<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <img src="assets/icon/favicon.png" alt="Jukira Logo" style="max-width: 100px; border-radius: 10px;">
    <h1>Sign Up</h1>
  </div>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone (Optional)</ion-label>
      <ion-input type="tel" [(ngModel)]="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding-top">
    <ion-button expand="block" (click)="onSignup()">Sign Up</ion-button>
  </div>

  <div class="ion-text-center ion-padding-top">
    <ion-text>
      Already have an account? <a routerLink="/login">Log in</a>
    </ion-text>
  </div>
</ion-content>
