<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">My Birthdays</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let birthday of birthdays">
      <ion-item button [routerLink]="['/birthday-details', birthday.id]">
        <ion-avatar slot="start">
          <img [src]="birthday.photoUrl || 'assets/icon/favicon.png'" />
        </ion-avatar>
        <ion-label>
          <h2>{{ birthday.name }}</h2>
          <p>{{ birthday.date | date: 'longDate' }}</p>
        </ion-label>
        <ion-note slot="end">{{ birthday.daysUntil }} days</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteBirthday(birthday.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBirthday()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
